// BEGIN Generated code for protocol_{{ c.name }}
{% if c.namespace %}
namespace {{ c.namespace }} {
{% endif %}
template <typename T>
concept xyz_protocol_concept_{{ c.name }} = requires(T& t) {
{% for m in c.methods %}
  {% set declvals = [] %}
  {% for a in m.arguments %}
    {% set _ = declvals.append("std::declval<" ~ a.type.name ~ ">()") %}
  {% endfor %}
  {% set args_str = declvals | join(", ") %}
  {% if m.is_const %}
  { std::as_const(t).{{ m.name }}({{ args_str }}) } -> std::same_as<{{ m.return_type.name }}>;
  {% else %}
  { t.{{ m.name }}({{ args_str }}) } -> std::same_as<{{ m.return_type.name }}>;
  {% endif %}
{% endfor %}
};

template <typename Allocator = std::allocator<std::byte>>
class protocol_{{ c.name }} {
  class control_block {
   public:
    virtual control_block* xyz_protocol_clone(const Allocator& alloc) = 0;
    virtual control_block* xyz_protocol_move(const Allocator& alloc) = 0;
    virtual void xyz_protocol_destroy(const Allocator& alloc) = 0;

   public:
{% for m in c.methods %}
  {% set params = [] %}
  {% for a in m.arguments %}
    {% set _ = params.append(a.type.name ~ " a" ~ loop.index0) %}
  {% endfor %}
  {% set params_str = params | join(", ") %}
    virtual {{ m.return_type.name }} {{ m.name }}({{ params_str }}){% if m.is_const %} const{% endif %} = 0;
{% endfor %}
  };

  template <typename T>
  class direct_control_block final : public control_block {
    union uninitialized_storage {
      T t_;
      constexpr uninitialized_storage() {}
      constexpr ~uninitialized_storage() {}
    } storage_;

    using cb_allocator = typename std::allocator_traits<
        Allocator>::template rebind_alloc<direct_control_block<T>>;
    using cb_alloc_traits = std::allocator_traits<cb_allocator>;

   public:
    template <class... Ts>
    constexpr direct_control_block(const Allocator& alloc, Ts&&... ts) {
      cb_allocator cb_alloc(alloc);
      cb_alloc_traits::construct(cb_alloc, std::addressof(storage_.t_),
                                 std::forward<Ts>(ts)...);
    }

    control_block* xyz_protocol_clone(const Allocator& alloc) {
      cb_allocator cb_alloc(alloc);
      auto mem = cb_alloc_traits::allocate(cb_alloc, 1);
      try {
        cb_alloc_traits::construct(cb_alloc, mem, alloc, storage_.t_);
        return mem;
      } catch (...) {
        cb_alloc_traits::deallocate(cb_alloc, mem, 1);
        throw;
      }
    }

    control_block* xyz_protocol_move(const Allocator& alloc) {
      cb_allocator cb_alloc(alloc);
      auto mem = cb_alloc_traits::allocate(cb_alloc, 1);
      try {
        cb_alloc_traits::construct(cb_alloc, mem, alloc,
                                   std::move(storage_.t_));
        return mem;
      } catch (...) {
        cb_alloc_traits::deallocate(cb_alloc, mem, 1);
        throw;
      }
    }

    void xyz_protocol_destroy(const Allocator& alloc) {
      cb_allocator cb_alloc(alloc);
      cb_alloc_traits::destroy(cb_alloc, std::addressof(storage_.t_));
      cb_alloc_traits::deallocate(cb_alloc, this, 1);
    }

   public:
{% for m in c.methods %}
  {% set params = [] %}
  {% set passes = [] %}
  {% for a in m.arguments %}
    {% set _ = params.append(a.type.name ~ " a" ~ loop.index0) %}
    {% set _ = passes.append("std::forward<decltype(a" ~ loop.index0 ~ ")>(a" ~ loop.index0 ~ ")") %}
  {% endfor %}
  {% set params_str = params | join(", ") %}
  {% set passes_str = passes | join(", ") %}
    {{ m.return_type.name }} {{ m.name }}({{ params_str }}){% if m.is_const %} const{% endif %} { return storage_.t_.{{ m.name }}({{ passes_str }}); }
{% endfor %}
  };

  using allocator_traits = std::allocator_traits<Allocator>;

  template <class U, class... Ts>
  [[nodiscard]] constexpr control_block* create_control_block(
      Ts&&... ts) const {
    using cb_allocator = typename std::allocator_traits<
        Allocator>::template rebind_alloc<direct_control_block<U>>;
    cb_allocator cb_alloc(alloc_);
    using cb_alloc_traits = std::allocator_traits<cb_allocator>;
    auto mem = cb_alloc_traits::allocate(cb_alloc, 1);
    try {
      cb_alloc_traits::construct(cb_alloc, mem, alloc_,
                                 std::forward<Ts>(ts)...);
      return mem;
    } catch (...) {
      cb_alloc_traits::deallocate(cb_alloc, mem, 1);
      throw;
    }
  }

  control_block* cb_;
  [[no_unique_address]] Allocator alloc_;

 public:
  explicit constexpr protocol_{{ c.name }}()
    requires std::default_initializable<{{ c.name }}> && xyz_protocol_concept_{{ c.name }}<{{ c.name }}> &&
             std::default_initializable<{{ c.name }}> && std::copy_constructible<{{ c.name }}>
      : protocol_{{ c.name }}(std::allocator_arg_t{}, {{ c.name }}{}) {}

  template <class U>
  constexpr explicit protocol_{{ c.name }}(U&& u)
    requires(!std::same_as<protocol_{{ c.name }}, std::remove_cvref_t<U>>) &&
            std::copy_constructible<std::remove_cvref_t<U>> &&
            std::default_initializable<{{ c.name }}> && xyz_protocol_concept_{{ c.name }}<U>
      : protocol_{{ c.name }}(std::allocator_arg_t{}, {{ c.name }}{}, std::forward<U>(u)) {}

  template <class U, class... Ts>
  explicit constexpr protocol_{{ c.name }}(std::in_place_type_t<U>, Ts&&... ts)
    requires std::same_as<std::remove_cvref_t<U>, U> &&
             std::constructible_from<U, Ts&&...> &&
             std::copy_constructible<U> &&
             std::default_initializable<Allocator> && xyz_protocol_concept_{{ c.name }}<U>
      : protocol_{{ c.name }}(std::allocator_arg_t{}, Allocator{}, std::in_place_type<U>,
                   std::forward<Ts>(ts)...) {}

  template <class U, class I, class... Ts>
  explicit constexpr protocol_{{ c.name }}(std::in_place_type_t<U>,
                                std::initializer_list<I> ilist, Ts&&... ts)
    requires std::same_as<std::remove_cvref_t<U>, U> &&
             std::constructible_from<U, std::initializer_list<I>, Ts&&...> &&
             std::copy_constructible<U> &&
             std::default_initializable<Allocator> && xyz_protocol_concept_{{ c.name }}<U>
      : protocol_{{ c.name }}(std::allocator_arg_t{}, Allocator{}, std::in_place_type<U>,
                   ilist, std::forward<Ts>(ts)...) {}

  constexpr protocol_{{ c.name }}(const protocol_{{ c.name }}& other)
      : protocol_{{ c.name }}(std::allocator_arg_t{},
                   allocator_traits::select_on_container_copy_construction(
                       other.alloc_),
                   other) {}

  constexpr protocol_{{ c.name }}(protocol_{{ c.name }}&& other) noexcept(
      allocator_traits::is_always_equal::value)
      : protocol_{{ c.name }}(std::allocator_arg_t{}, other.alloc_, std::move(other)) {}

  explicit constexpr protocol_{{ c.name }}(std::allocator_arg_t, const Allocator& alloc)
    requires std::default_initializable<{{ c.name }}> && std::copy_constructible<{{ c.name }}>
      : alloc_(alloc) {
    cb_ = create_control_block<{{ c.name }}>();
  }

  template <class U>
  constexpr explicit protocol_{{ c.name }}(std::allocator_arg_t, const Allocator& alloc,
                                U&& u)
    requires(not std::same_as<protocol_{{ c.name }}, std::remove_cvref_t<U>>) &&
            std::copy_constructible<std::remove_cvref_t<U>> &&
            xyz_protocol_concept_{{ c.name }}<U>
      : alloc_(alloc) {
    cb_ = create_control_block<std::remove_cvref_t<U>>(std::forward<U>(u));
  }

  template <class U, class... Ts>
  explicit constexpr protocol_{{ c.name }}(std::allocator_arg_t, const Allocator& alloc,
                                std::in_place_type_t<U>, Ts&&... ts)
    requires std::same_as<std::remove_cvref_t<U>, U> &&
             std::constructible_from<U, Ts&&...> &&
             std::copy_constructible<U> && xyz_protocol_concept_{{ c.name }}<U>
      : alloc_(alloc) {
    cb_ = create_control_block<U>(std::forward<Ts>(ts)...);
  }

  template <class U, class I, class... Ts>
  explicit constexpr protocol_{{ c.name }}(std::allocator_arg_t, const Allocator& alloc,
                                std::in_place_type_t<U>,
                                std::initializer_list<I> ilist, Ts&&... ts)
    requires std::same_as<std::remove_cvref_t<U>, U> &&
             std::constructible_from<U, std::initializer_list<I>, Ts&&...> &&
             std::copy_constructible<U> && xyz_protocol_concept_{{ c.name }}<U>
      : alloc_(alloc) {
    cb_ = create_control_block<U>(ilist, std::forward<Ts>(ts)...);
  }

  constexpr protocol_{{ c.name }}(std::allocator_arg_t, const Allocator& alloc,
                       const protocol_{{ c.name }}& other)
      : alloc_(alloc) {
    if (!other.valueless_after_move()) {
      cb_ = other.cb_->xyz_protocol_clone(alloc_);
    } else {
      cb_ = nullptr;
    }
  }

  constexpr protocol_{{ c.name }}(
      std::allocator_arg_t, const Allocator& alloc,
      protocol_{{ c.name }}&& other) noexcept(allocator_traits::is_always_equal::value)
      : alloc_(alloc) {
    if constexpr (allocator_traits::is_always_equal::value) {
      cb_ = std::exchange(other.cb_, nullptr);
    } else {
      if (alloc_ == other.alloc_) {
        cb_ = std::exchange(other.cb_, nullptr);
      } else {
        if (!other.valueless_after_move()) {
          cb_ = other.cb_->xyz_protocol_move(alloc_);
        } else {
          cb_ = nullptr;
        }
      }
    }
  }

  constexpr bool valueless_after_move() const noexcept {
    return cb_ == nullptr;
  }

 public:
{% for m in c.methods %}
  {% set params = [] %}
  {% set passes = [] %}
  {% for a in m.arguments %}
    {% set _ = params.append(a.type.name ~ " a" ~ loop.index0) %}
    {% set _ = passes.append("std::forward<decltype(a" ~ loop.index0 ~ ")>(a" ~ loop.index0 ~ ")") %}
  {% endfor %}
  {% set params_str = params | join(", ") %}
  {% set passes_str = passes | join(", ") %}
  {{ m.return_type.name }} {{ m.name }}({{ params_str }}){% if m.is_const %} const{% endif %} { return cb_->{{ m.name }}({{ passes_str }}); }
{% endfor %}

};
{% if c.namespace %}
}  // namespace {{ c.namespace }}
{% endif %}
// END Generated code for protocol_{{ c.name }}