// BEGIN Generated code for protocol_{{ c.name }}
#include <cassert>
#include <concepts>
#include <cstddef>
#include <initializer_list>
#include <memory>
#include <type_traits>
#include <utility>

#include "protocol.h"
#include "{{ header }}"

{% set full_class_name = "::" ~ c.namespace ~ "::" ~ c.name if c.namespace else c.name %}

namespace xyz {

template <typename T>
concept protocol_concept_{{ c.name }} = requires(T& t) {
{% for m in c.methods %}
  {% set declvals = [] %}
  {% for a in m.arguments %}
    {% set _ = declvals.append("std::declval<" ~ a.type.name ~ ">()") %}
  {% endfor %}
  {% set args_str = declvals | join(", ") %}
  {% if m.is_const %}
    {% if m.return_type.name == 'void' %}
  { std::as_const(t).{{ m.name }}({{ args_str }}) }{% if m.is_noexcept %} noexcept{% endif %};
    {% else %}
  { std::as_const(t).{{ m.name }}({{ args_str }}) }{% if m.is_noexcept %} noexcept{% endif %} -> std::convertible_to<{{ m.return_type.name }}>;
    {% endif %}
  {% else %}
    {% if m.return_type.name == 'void' %}
  { t.{{ m.name }}({{ args_str }}) }{% if m.is_noexcept %} noexcept{% endif %};
    {% else %}
  { t.{{ m.name }}({{ args_str }}) }{% if m.is_noexcept %} noexcept{% endif %} -> std::convertible_to<{{ m.return_type.name }}>;
    {% endif %}
  {% endif %}
{% endfor %}
};

template <typename T>
concept protocol_const_concept_{{ c.name }} = requires(const T& t) {
{% for m in c.methods %}
  {% if m.is_const %}
    {% set declvals = [] %}
    {% for a in m.arguments %}
      {% set _ = declvals.append("std::declval<" ~ a.type.name ~ ">()") %}
    {% endfor %}
    {% set args_str = declvals | join(", ") %}
    {% if m.return_type.name == 'void' %}
  { t.{{ m.name }}({{ args_str }}) }{% if m.is_noexcept %} noexcept{% endif %};
    {% else %}
  { t.{{ m.name }}({{ args_str }}) }{% if m.is_noexcept %} noexcept{% endif %} -> std::convertible_to<{{ m.return_type.name }}>;
    {% endif %}
  {% endif %}
{% endfor %}
};

struct const_view_vtable_{{ c.name }} {
{% for m in c.methods %}{% if m.is_const %}
  {% set params = [] %}
  {% for a in m.arguments %}{% set _ = params.append(a.type.name) %}{% endfor %}
  {% set params_str = params | join(", ") %}
  {{ m.return_type.name }} (*{{ m.name | mangle }}_{{ method_guids[loop.index0] }})(const void* ptr{% if params %}, {% endif %}{{ params_str }}){% if m.is_noexcept %} noexcept{% endif %};
{% endif %}{% endfor %}
};

{% set const_methods = [] %}
{% set const_method_indices = [] %}
{% for m in c.methods %}{% if m.is_const %}{% set _ = const_methods.append(m) %}{% set _ = const_method_indices.append(loop.index0) %}{% endif %}{% endfor %}

template <typename T>
inline constexpr const_view_vtable_{{ c.name }} const_view_vtable_{{ c.name }}_for = {
{% for m in const_methods %}
  {% set i = const_method_indices[loop.index0] %}
  {% set params = [] %}
  {% set passes = [] %}
  {% for a in m.arguments %}
    {% set _ = params.append(a.type.name ~ " a" ~ loop.index0) %}
    {% set _ = passes.append("std::forward<decltype(a" ~ loop.index0 ~ ")>(a" ~ loop.index0 ~ ")") %}
  {% endfor %}
  {% set params_str = params | join(", ") %}
  {% set passes_str = passes | join(", ") %}
  [](const void* ptr{% if params %}, {% endif %}{{ params_str }}){% if m.is_noexcept %} noexcept{% endif %} -> {{ m.return_type.name }} {
    {% if m.return_type.name != 'void' %}return {% endif %}static_cast<const T*>(ptr)->{{ m.name }}({{ passes_str }});
  }{% if not loop.last %},{% endif %}
{% endfor %}
};

struct view_vtable_{{ c.name }} {
  const const_view_vtable_{{ c.name }}* const_view;
{% for m in c.methods %}
  {% set params = [] %}
  {% for a in m.arguments %}{% set _ = params.append(a.type.name) %}{% endfor %}
  {% set params_str = params | join(", ") %}
  {{ m.return_type.name }} (*{{ m.name | mangle }}_{{ method_guids[loop.index0] }})({% if m.is_const %}const {% endif %}void* ptr{% if params %}, {% endif %}{{ params_str }}){% if m.is_noexcept %} noexcept{% endif %};
{% endfor %}
};

template <typename T>
inline constexpr view_vtable_{{ c.name }} view_vtable_{{ c.name }}_for = {
  &const_view_vtable_{{ c.name }}_for<T>,
{% for m in c.methods %}
  {% set params = [] %}
  {% set passes = [] %}
  {% for a in m.arguments %}
    {% set _ = params.append(a.type.name ~ " a" ~ loop.index0) %}
    {% set _ = passes.append("std::forward<decltype(a" ~ loop.index0 ~ ")>(a" ~ loop.index0 ~ ")") %}
  {% endfor %}
  {% set params_str = params | join(", ") %}
  {% set passes_str = passes | join(", ") %}
  []({% if m.is_const %}const {% endif %}void* ptr{% if params %}, {% endif %}{{ params_str }}){% if m.is_noexcept %} noexcept{% endif %} -> {{ m.return_type.name }} {
    {% if m.return_type.name != 'void' %}return {% endif %}static_cast<{% if m.is_const %}const {% endif %}T*>(ptr)->{{ m.name }}({{ passes_str }});
  }{% if not loop.last %},{% endif %}
{% endfor %}
};

template <typename Allocator>
class protocol<{{ full_class_name }}, Allocator> {
  friend class protocol_view<{{ full_class_name }}>;
  friend class protocol_view<const {{ full_class_name }}>;

  struct vtable {
    void* (*xyz_protocol_clone)(void* cb, const Allocator& alloc);
    void* (*xyz_protocol_move)(void* cb, const Allocator& alloc);
    void (*xyz_protocol_destroy)(void* cb, const Allocator& alloc);
    const void* (*xyz_protocol_get_ptr)(const void* cb) noexcept;
    void* (*xyz_protocol_get_mutable_ptr)(void* cb) noexcept;
    const view_vtable_{{ c.name }}* view_vt;
{% for m in c.methods %}
  {% set params = [] %}
  {% for a in m.arguments %}
    {% set _ = params.append(a.type.name) %}
  {% endfor %}
  {% set params_str = params | join(", ") %}
    {{ m.return_type.name }} (*{{ m.name | mangle }}_{{ method_guids[loop.index0] }})(void* cb{% if params %}, {% endif %}{{ params_str }}){% if m.is_noexcept %} noexcept{% endif %};
{% endfor %}
  };

  template <typename T>
  class direct_control_block {
    union uninitialized_storage {
      T t_;
      constexpr uninitialized_storage() {}
      constexpr ~uninitialized_storage() {}
    } storage_;

    using cb_allocator = typename std::allocator_traits<
        Allocator>::template rebind_alloc<direct_control_block<T>>;
    using cb_alloc_traits = std::allocator_traits<cb_allocator>;

   public:
    template <class... Ts>
    constexpr direct_control_block(const Allocator& alloc, Ts&&... ts) {
      cb_allocator cb_alloc(alloc);
      cb_alloc_traits::construct(cb_alloc, std::addressof(storage_.t_),
                                 std::forward<Ts>(ts)...);
    }

    static void* xyz_protocol_clone(void* cb, const Allocator& alloc) {
      auto* self = static_cast<direct_control_block*>(cb);
      cb_allocator cb_alloc(alloc);
      auto mem = cb_alloc_traits::allocate(cb_alloc, 1);
      try {
        cb_alloc_traits::construct(cb_alloc, mem, alloc, self->storage_.t_);
        return mem;
      } catch (...) {
        cb_alloc_traits::deallocate(cb_alloc, mem, 1);
        throw;
      }
    }

    static void* xyz_protocol_move(void* cb, const Allocator& alloc) {
      auto* self = static_cast<direct_control_block*>(cb);
      cb_allocator cb_alloc(alloc);
      auto mem = cb_alloc_traits::allocate(cb_alloc, 1);
      try {
        cb_alloc_traits::construct(cb_alloc, mem, alloc,
                                   std::move(self->storage_.t_));
        return mem;
      } catch (...) {
        cb_alloc_traits::deallocate(cb_alloc, mem, 1);
        throw;
      }
    }

    static void xyz_protocol_destroy(void* cb, const Allocator& alloc) {
      auto* self = static_cast<direct_control_block*>(cb);
      cb_allocator cb_alloc(alloc);
      cb_alloc_traits::destroy(cb_alloc, std::addressof(self->storage_.t_));
      cb_alloc_traits::deallocate(cb_alloc, self, 1);
    }

    static const void* xyz_protocol_get_ptr(const void* cb) noexcept {
      return std::addressof(static_cast<const direct_control_block*>(cb)->storage_.t_);
    }

    static void* xyz_protocol_get_mutable_ptr(void* cb) noexcept {
      return std::addressof(static_cast<direct_control_block*>(cb)->storage_.t_);
    }

   public:
{% for m in c.methods %}
  {% set params = [] %}
  {% set passes = [] %}
  {% for a in m.arguments %}
    {% set _ = params.append(a.type.name ~ " a" ~ loop.index0) %}
    {% set _ = passes.append("std::forward<decltype(a" ~ loop.index0 ~ ")>(a" ~ loop.index0 ~ ")") %}
  {% endfor %}
  {% set params_str = params | join(", ") %}
  {% set passes_str = passes | join(", ") %}
  {% if m.return_type.name == 'void' %}
    static {{ m.return_type.name }} {{ m.name | mangle }}_{{ method_guids[loop.index0] }}(void* cb{% if params %}, {% endif %}{{ params_str }}){% if m.is_noexcept %} noexcept{% endif %} {
      auto* self = static_cast<direct_control_block*>(cb);
      self->storage_.t_.{{ m.name }}({{ passes_str }});
    }
  {% else %}
    static {{ m.return_type.name }} {{ m.name | mangle }}_{{ method_guids[loop.index0] }}(void* cb{% if params %}, {% endif %}{{ params_str }}){% if m.is_noexcept %} noexcept{% endif %} {
      auto* self = static_cast<direct_control_block*>(cb);
      return self->storage_.t_.{{ m.name }}({{ passes_str }});
    }
  {% endif %}
{% endfor %}

    static constexpr vtable vtable_ = {
      xyz_protocol_clone,
      xyz_protocol_move,
      xyz_protocol_destroy,
      xyz_protocol_get_ptr,
      xyz_protocol_get_mutable_ptr,
      &view_vtable_{{ c.name }}_for<T>,
{% for m in c.methods %}
      {{ m.name | mangle }}_{{ method_guids[loop.index0] }}{% if not loop.last %},{% endif %}
{% endfor %}
    };
  };

  using allocator_traits = std::allocator_traits<Allocator>;

  template <class U, class... Ts>
  [[nodiscard]] constexpr void* create_control_block(
      Ts&&... ts) const {
    using cb_allocator = typename std::allocator_traits<
        Allocator>::template rebind_alloc<direct_control_block<U>>;
    cb_allocator cb_alloc(alloc_);
    using cb_alloc_traits = std::allocator_traits<cb_allocator>;
    auto mem = cb_alloc_traits::allocate(cb_alloc, 1);
    try {
      cb_alloc_traits::construct(cb_alloc, mem, alloc_,
                                 std::forward<Ts>(ts)...);
      return mem;
    } catch (...) {
      cb_alloc_traits::deallocate(cb_alloc, mem, 1);
      throw;
    }
  }

  void* cb_;
  const vtable* vtable_;
  [[no_unique_address]] Allocator alloc_;

 public:
  explicit constexpr protocol()
    requires std::default_initializable<{{ full_class_name }}> && protocol_concept_{{ c.name }}<{{ full_class_name }}> &&
             std::copy_constructible<{{ full_class_name }}>
      : protocol(std::allocator_arg_t{}, Allocator{}) {}

  template <class U>
  constexpr explicit protocol(U&& u)
    requires(!std::same_as<protocol, std::remove_cvref_t<U>>) &&
            std::copy_constructible<std::remove_cvref_t<U>> &&
            protocol_concept_{{ c.name }}<U>
      : protocol(std::allocator_arg_t{}, Allocator{}, std::forward<U>(u)) {}

  template <class U, class... Ts>
  explicit constexpr protocol(std::in_place_type_t<U>, Ts&&... ts)
    requires std::same_as<std::remove_cvref_t<U>, U> &&
             std::constructible_from<U, Ts&&...> &&
             std::copy_constructible<U> &&
             std::default_initializable<Allocator> && protocol_concept_{{ c.name }}<U>
      : protocol(std::allocator_arg_t{}, Allocator{}, std::in_place_type<U>,
                   std::forward<Ts>(ts)...) {}

  template <class U, class I, class... Ts>
  explicit constexpr protocol(std::in_place_type_t<U>,
                                std::initializer_list<I> ilist, Ts&&... ts)
    requires std::same_as<std::remove_cvref_t<U>, U> &&
             std::constructible_from<U, std::initializer_list<I>, Ts&&...> &&
             std::copy_constructible<U> &&
             std::default_initializable<Allocator> && protocol_concept_{{ c.name }}<U>
      : protocol(std::allocator_arg_t{}, Allocator{}, std::in_place_type<U>,
                   ilist, std::forward<Ts>(ts)...) {}

  constexpr protocol(const protocol& other)
      : protocol(std::allocator_arg_t{},
                   allocator_traits::select_on_container_copy_construction(
                       other.alloc_),
                   other) {}

  constexpr protocol(protocol&& other) noexcept(
      allocator_traits::is_always_equal::value)
      : protocol(std::allocator_arg_t{}, other.alloc_, std::move(other)) {}

  explicit constexpr protocol(std::allocator_arg_t, const Allocator& alloc)
    requires std::default_initializable<{{ full_class_name }}> && std::copy_constructible<{{ full_class_name }}>
      : alloc_(alloc) {
    cb_ = create_control_block<{{ full_class_name }}>();
    vtable_ = &direct_control_block<{{ full_class_name }}>::vtable_;
  }

  template <class U>
  constexpr explicit protocol(std::allocator_arg_t, const Allocator& alloc,
                                U&& u)
    requires(not std::same_as<protocol, std::remove_cvref_t<U>>) &&
            std::copy_constructible<std::remove_cvref_t<U>> &&
            protocol_concept_{{ c.name }}<U>
      : alloc_(alloc) {
    cb_ = create_control_block<std::remove_cvref_t<U>>(std::forward<U>(u));
    vtable_ = &direct_control_block<std::remove_cvref_t<U>>::vtable_;
  }

  template <class U, class... Ts>
  explicit constexpr protocol(std::allocator_arg_t, const Allocator& alloc,
                                std::in_place_type_t<U>, Ts&&... ts)
    requires std::same_as<std::remove_cvref_t<U>, U> &&
             std::constructible_from<U, Ts&&...> &&
             std::copy_constructible<U> && protocol_concept_{{ c.name }}<U>
      : alloc_(alloc) {
    cb_ = create_control_block<U>(std::forward<Ts>(ts)...);
    vtable_ = &direct_control_block<U>::vtable_;
  }

  template <class U, class I, class... Ts>
  explicit constexpr protocol(std::allocator_arg_t, const Allocator& alloc,
                                std::in_place_type_t<U>,
                                std::initializer_list<I> ilist, Ts&&... ts)
    requires std::same_as<std::remove_cvref_t<U>, U> &&
             std::constructible_from<U, std::initializer_list<I>, Ts&&...> &&
             std::copy_constructible<U> && protocol_concept_{{ c.name }}<U>
      : alloc_(alloc) {
    cb_ = create_control_block<U>(ilist, std::forward<Ts>(ts)...);
    vtable_ = &direct_control_block<U>::vtable_;
  }

  constexpr protocol(std::allocator_arg_t, const Allocator& alloc,
                       const protocol& other)
      : alloc_(alloc) {
    if (!other.valueless_after_move()) {
      cb_ = other.vtable_->xyz_protocol_clone(other.cb_, alloc_);
      vtable_ = other.vtable_;
    } else {
      cb_ = nullptr;
      vtable_ = nullptr;
    }
  }

  constexpr protocol(
      std::allocator_arg_t, const Allocator& alloc,
      protocol&& other) noexcept(allocator_traits::is_always_equal::value)
      : alloc_(alloc) {
    if constexpr (allocator_traits::is_always_equal::value) {
      cb_ = std::exchange(other.cb_, nullptr);
      vtable_ = std::exchange(other.vtable_, nullptr);
    } else {
      if (alloc_ == other.alloc_) {
        cb_ = std::exchange(other.cb_, nullptr);
        vtable_ = std::exchange(other.vtable_, nullptr);
      } else {
        if (!other.valueless_after_move()) {
          cb_ = other.vtable_->xyz_protocol_move(other.cb_, alloc_);
          vtable_ = other.vtable_;
        } else {
          cb_ = nullptr;
          vtable_ = nullptr;
        }
      }
    }
  }

  constexpr bool valueless_after_move() const noexcept {
    return cb_ == nullptr;
  }

  ~protocol() {
    if (cb_ != nullptr) {
      vtable_->xyz_protocol_destroy(cb_, alloc_);
    }
  }

  protocol& operator=(protocol other) noexcept(
      allocator_traits::is_always_equal::value) {
    std::swap(cb_, other.cb_);
    std::swap(vtable_, other.vtable_);
    if constexpr (!allocator_traits::is_always_equal::value) {
      std::swap(alloc_, other.alloc_);
    }
    return *this;
  }

  void swap(protocol& other) noexcept(
      allocator_traits::is_always_equal::value) {
    std::swap(cb_, other.cb_);
    std::swap(vtable_, other.vtable_);
    if constexpr (!allocator_traits::is_always_equal::value) {
      std::swap(alloc_, other.alloc_);
    }
  }

  friend void swap(protocol& lhs, protocol& rhs) noexcept(
      allocator_traits::is_always_equal::value) {
    lhs.swap(rhs);
  }

 public:
{% for m in c.methods %}
  {% set params = [] %}
  {% set passes = [] %}
  {% for a in m.arguments %}
    {% set _ = params.append(a.type.name ~ " a" ~ loop.index0) %}
    {% set _ = passes.append("std::forward<decltype(a" ~ loop.index0 ~ ")>(a" ~ loop.index0 ~ ")") %}
  {% endfor %}
  {% set params_str = params | join(", ") %}
  {% set passes_str = passes | join(", ") %}
  {{ m.return_type.name }} {{ m.name }}({{ params_str }}){% if m.is_const %} const{% endif %}{% if m.is_noexcept %} noexcept{% endif %} { return vtable_->{{ m.name | mangle }}_{{ method_guids[loop.index0] }}(cb_{% if passes %}, {% endif %}{{ passes_str }}); }
{% endfor %}

};

template <>
class protocol_view<const {{ full_class_name }}> {
  friend class protocol_view<{{ full_class_name }}>;

  const void* ptr_;
  const const_view_vtable_{{ c.name }}* vptr_;

  constexpr protocol_view(const void* ptr,
                           const const_view_vtable_{{ c.name }}* vptr) noexcept
      : ptr_(ptr), vptr_(vptr) {}

  template <typename Alloc>
  static const void* checked_ptr(
      const protocol<{{ full_class_name }}, Alloc>& p) noexcept {
    assert(!p.valueless_after_move());
    return p.vtable_->xyz_protocol_get_ptr(p.cb_);
  }

 public:
  template <typename T>
    requires protocol_const_concept_{{ c.name }}<T> &&
             (!std::same_as<std::remove_cvref_t<T>, protocol_view>)
  constexpr protocol_view(const T& obj) noexcept
      : ptr_(std::addressof(obj)),
        vptr_(&const_view_vtable_{{ c.name }}_for<std::remove_cvref_t<T>>) {}

  template <typename Alloc>
  protocol_view(const protocol<{{ full_class_name }}, Alloc>& p) noexcept
      : ptr_(checked_ptr(p)),
        vptr_(p.vtable_->view_vt->const_view) {}

  template <typename Alloc>
  protocol_view(protocol<{{ full_class_name }}, Alloc>& p) noexcept
      : ptr_(checked_ptr(p)),
        vptr_(p.vtable_->view_vt->const_view) {}

{% for m in c.methods %}{% if m.is_const %}
  {% set params = [] %}
  {% set passes = [] %}
  {% for a in m.arguments %}
    {% set _ = params.append(a.type.name ~ " a" ~ loop.index0) %}
    {% set _ = passes.append("std::forward<decltype(a" ~ loop.index0 ~ ")>(a" ~ loop.index0 ~ ")") %}
  {% endfor %}
  {% set params_str = params | join(", ") %}
  {% set passes_str = passes | join(", ") %}
  {{ m.return_type.name }} {{ m.name }}({{ params_str }}) const{% if m.is_noexcept %} noexcept{% endif %} {
    {% if m.return_type.name != 'void' %}return {% endif %}vptr_->{{ m.name | mangle }}_{{ method_guids[loop.index0] }}(ptr_{% if passes %}, {% endif %}{{ passes_str }});
  }
{% endif %}{% endfor %}
};

template <>
class protocol_view<{{ full_class_name }}> {
  void* ptr_;
  const view_vtable_{{ c.name }}* vptr_;

  template <typename Alloc>
  static void* checked_ptr(protocol<{{ full_class_name }}, Alloc>& p) noexcept {
    assert(!p.valueless_after_move());
    return p.vtable_->xyz_protocol_get_mutable_ptr(p.cb_);
  }

 public:
  template <typename T>
    requires protocol_concept_{{ c.name }}<T> &&
             (!std::same_as<std::remove_cvref_t<T>, protocol_view>)
  constexpr protocol_view(T& obj) noexcept
      : ptr_(std::addressof(obj)),
        vptr_(&view_vtable_{{ c.name }}_for<std::remove_cvref_t<T>>) {}

  template <typename Alloc>
  protocol_view(protocol<{{ full_class_name }}, Alloc>& p) noexcept
      : ptr_(checked_ptr(p)),
        vptr_(p.vtable_->view_vt) {}

  constexpr operator protocol_view<const {{ full_class_name }}>() const noexcept {
    return protocol_view<const {{ full_class_name }}>{static_cast<const void*>(ptr_), vptr_->const_view};
  }

{% for m in c.methods %}
  {% set params = [] %}
  {% set passes = [] %}
  {% for a in m.arguments %}
    {% set _ = params.append(a.type.name ~ " a" ~ loop.index0) %}
    {% set _ = passes.append("std::forward<decltype(a" ~ loop.index0 ~ ")>(a" ~ loop.index0 ~ ")") %}
  {% endfor %}
  {% set params_str = params | join(", ") %}
  {% set passes_str = passes | join(", ") %}
  {{ m.return_type.name }} {{ m.name }}({{ params_str }}) const{% if m.is_noexcept %} noexcept{% endif %} {
    {% if m.return_type.name != 'void' %}return {% endif %}vptr_->{{ m.name | mangle }}_{{ method_guids[loop.index0] }}(ptr_{% if passes %}, {% endif %}{{ passes_str }});
  }
{% endfor %}
};

}  // namespace xyz
// END Generated code for protocol_{{ c.name }}
